@use "./palette" as *;

body,
body[theme-mode="dark"] .semi-always-light {
  --semi-color-bg-0: rgb(var(--semi-white), 1);
  --semi-color-bg-1: rgb(var(--semi-neutral-0), 1);
  --semi-color-bg-2: rgb(var(--semi-neutral-1), 1);
  --semi-color-bg-3: rgb(var(--semi-neutral-2), 1);
  --semi-color-bg-4: rgb(var(--semi-white), 1);
  --semi-color-info: rgb(var(--semi-blue-5), 1);
  --semi-color-link: rgb(var(--semi-band-6), 1);
  --semi-color-nav-bg: rgb(var(--semi-white), 1);
  --semi-color-black: rgb(var(--semi-black), 1);
  --semi-color-fill-0: rgb(var(--semi-band-0), 1);
  --semi-color-fill-1: rgb(var(--semi-band-1), 1);
  --semi-color-fill-2: rgb(var(--semi-band-2), 1);
  --semi-color-text-0: rgb(var(--semi-neutral-8), 1);
  --semi-color-text-1: rgb(var(--semi-neutral-7), 1);
  --semi-color-text-2: rgb(var(--semi-neutral-6), 1);
  --semi-color-text-3: rgb(var(--semi-neutral-4), 1);
  --semi-color-white: rgb(var(--semi-white), 1);
  --semi-color-border: rgb(var(--semi-neutral-2), 1);
  --semi-color-danger: rgb(var(--semi-red-6), 1);
  --semi-color-shadow: rgb(var(--semi-black), 0.04);
  --semi-color-default: rgb(var(--semi-grey-0), 1);
  --semi-color-info-hover: rgb(var(--semi-blue-6), 1);
  --semi-color-link-hover: rgb(var(--semi-band-5), 1);
  --semi-color-primary: rgb(var(--semi-band-6), 1);
  --semi-color-success: rgb(var(--semi-green-6), 1);
  --semi-color-warning: rgb(var(--semi-amber-6), 1);
  --semi-color-info-active: rgb(var(--semi-blue-7), 1);
  --semi-color-link-active: rgb(var(--semi-band-7), 1);
  --semi-color-link-visited: rgb(var(--semi-band-6), 1);
  --semi-color-tertiary: rgb(var(--semi-neutral-8), 1);
  --semi-color-focus-border: rgb(var(--semi-band-6), 1);
  --semi-color-info-disabled: rgb(var(--semi-blue-2), 1);
  --semi-color-overlay-bg: rgb(22 22 26 / 60%);
  --semi-color-border-light: rgb(var(--semi-neutral-0), 1);
  --semi-color-danger-hover: rgb(var(--semi-red-5), 1);
  --semi-color-highlight: rgb(var(--semi-black), 1);
  --semi-color-secondary: rgb(var(--semi-blue-6), 1);
  --semi-color-danger-active: rgb(var(--semi-red-7), 1);
  --semi-color-disabled-bg: rgb(var(--semi-neutral-2), 1);
  --semi-color-default-hover: rgb(var(--semi-grey-1), 1);
  --semi-color-primary-hover: rgb(var(--semi-band-5), 1);
  --semi-color-success-hover: rgb(var(--semi-green-5), 1);
  --semi-color-warning-hover: rgb(var(--semi-amber-5), 1);
  --semi-color-default-active: rgb(var(--semi-grey-2), 1);
  --semi-color-disabled-fill: rgb(var(--semi-grey-8), 0.04);
  --semi-color-disabled-text: rgb(var(--semi-grey-9), 0.35);
  --semi-color-highlight-bg: rgb(var(--semi-yellow-4), 1);
  --semi-color-primary-active: rgb(var(--semi-band-7), 1);
  --semi-color-success-active: rgb(var(--semi-green-7), 1);
  --semi-color-warning-active: rgb(var(--semi-amber-7), 1);
  --semi-color-tertiary-hover: rgb(var(--semi-neutral-7), 1);
  --semi-color-disabled-border: rgb(var(--semi-grey-1), 1);
  --semi-color-primary-disabled: rgb(var(--semi-neutral-1), 1);
  --semi-color-success-disabled: rgb(var(--semi-neutral-2), 1);
  --semi-color-tertiary-active: rgb(var(--semi-neutral-9), 1);
  --semi-color-secondary-hover: rgb(var(--semi-blue-5), 1);
  --semi-color-secondary-active: rgb(var(--semi-blue-7), 1);
  --semi-color-info-light-hover: rgb(var(--semi-blue-1), 1);
  --semi-color-info-light-active: rgb(var(--semi-blue-2), 1);
  --semi-color-secondary-disabled: rgb(var(--semi-neutral-1), 1);
  --semi-color-info-light-default: rgb(var(--semi-blue-0), 1);
  --semi-color-danger-light-hover: rgb(var(--semi-red-1), 1);
  --semi-color-danger-light-active: rgb(var(--semi-red-2), 1);
  --semi-color-danger-light-default: rgb(var(--semi-red-0), 1);
  --semi-color-primary-light-hover: rgb(var(--semi-band-2), 1);
  --semi-color-success-light-hover: rgb(var(--semi-green-1), 1);
  --semi-color-warning-light-hover: rgb(var(--semi-orange-1), 1);
  --semi-color-primary-light-active: rgb(var(--semi-band-3), 1);
  --semi-color-success-light-active: rgb(var(--semi-green-2), 1);
  --semi-color-warning-light-active: rgb(var(--semi-orange-2), 1);
  --semi-color-primary-light-default: rgb(var(--semi-band-1), 1);
  --semi-color-success-light-default: rgb(var(--semi-green-0), 1);
  --semi-color-tertiary-light-hover: rgb(var(--semi-grey-1), 1);
  --semi-color-warning-light-default: rgb(var(--semi-orange-0), 1);
  --semi-color-tertiary-light-active: rgb(var(--semi-grey-2), 1);
  --semi-color-secondary-light-hover: rgb(var(--semi-blue-1), 1);
  --semi-color-tertiary-light-default: rgb(var(--semi-grey-0), 1);
  --semi-color-secondary-light-active: rgb(var(--semi-blue-2), 1);
  --semi-color-secondary-light-default: rgb(var(--semi-blue-0), 1);

  font-family: "General Sans Variable", Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  --semi-shadow-elevated: 0 0 1px 0 rgb(0 0 0 / 30%),
    0 4px 14px 0 rgb(0 0 0 / 10%);
  --semi-shadow-0: none;
  --semi-shadow-1: none;
  --semi-shadow-2: 0 2px 4px 0 rgb(0 0 0 / 14%), 0 0 1px 0 rgb(0 0 0 / 16%);
  --semi-shadow-knob: 0 4px 6px 0 rgb(0 0 0 / 10%), 0 0 1px 0 rgb(0 0 0 / 30%);
  --semi-border-radius-full: 9999px;
  --semi-border-radius-large: 12px;
  --semi-border-radius-small: 4px;
  --semi-border-radius-circle: 50%;
  --semi-border-radius-medium: 6px;
  --semi-border-radius-extra-small: 3px;
}

body[theme-mode="dark"],
body .semi-always-dark {
  --semi-color-bg-0: rgb(22 22 26);
  --semi-color-bg-1: rgb(35 36 41);
  --semi-color-bg-2: rgb(53 54 60);
  --semi-color-bg-3: rgb(67 68 74);
  --semi-color-bg-4: rgb(79 81 89);
  --semi-color-info: rgb(var(--semi-blue-5), 1);
  --semi-color-link: rgb(var(--semi-blue-5), 1);
  --semi-color-nav-bg: rgb(35 36 41);
  --semi-color-black: rgb(var(--semi-black), 1);
  --semi-color-fill-0: rgb(var(--semi-white), 0.05);
  --semi-color-fill-1: rgb(var(--semi-white), 0.09);
  --semi-color-fill-2: rgb(var(--semi-white), 0.13);
  --semi-color-text-0: rgb(var(--semi-grey-9), 1);
  --semi-color-text-1: rgb(var(--semi-grey-9), 0.8);
  --semi-color-text-2: rgb(var(--semi-grey-9), 0.6);
  --semi-color-text-3: rgb(var(--semi-grey-9), 0.35);
  --semi-color-white: rgb(228 231 245);
  --semi-color-border: rgb(var(--semi-white), 0.08);
  --semi-color-danger: rgb(var(--semi-red-5), 1);
  --semi-color-shadow: rgb(var(--semi-black), 0.04);
  --semi-color-default: rgb(var(--semi-grey-0), 1);
  --semi-color-info-hover: rgb(var(--semi-blue-6), 1);
  --semi-color-link-hover: rgb(var(--semi-blue-6), 1);
  --semi-color-primary: rgb(var(--semi-blue-5), 1);
  --semi-color-success: rgb(var(--semi-green-5), 1);
  --semi-color-warning: rgb(var(--semi-orange-5), 1);
  --semi-color-info-active: rgb(var(--semi-blue-7), 1);
  --semi-color-link-active: rgb(var(--semi-blue-7), 1);
  --semi-color-link-visited: rgb(var(--semi-blue-5), 1);
  --semi-color-tertiary: rgb(var(--semi-grey-5), 1);
  --semi-color-focus-border: rgb(var(--semi-blue-5), 1);
  --semi-color-info-disabled: rgb(var(--semi-blue-2), 1);
  --semi-color-overlay-bg: rgb(22 22 26 / 60%);
  --semi-color-border-light: rgb(var(--semi-neutral-0), 1);
  --semi-color-danger-hover: rgb(var(--semi-red-6), 1);
  --semi-color-highlight: rgb(var(--semi-white), 1);
  --semi-color-secondary: rgb(var(--semi-blue-5), 1);
  --semi-color-danger-active: rgb(var(--semi-red-7), 1);
  --semi-color-disabled-bg: rgb(var(--semi-grey-1), 1);
  --semi-color-default-hover: rgb(var(--semi-grey-1), 1);
  --semi-color-primary-hover: rgb(var(--semi-blue-6), 1);
  --semi-color-success-hover: rgb(var(--semi-green-6), 1);
  --semi-color-warning-hover: rgb(var(--semi-orange-6), 1);
  --semi-color-default-active: rgb(var(--semi-grey-2), 1);
  --semi-color-disabled-fill: rgb(var(--semi-grey-8), 0.04);
  --semi-color-disabled-text: rgb(var(--semi-grey-9), 0.35);
  --semi-color-highlight-bg: rgb(var(--semi-yellow-2), 1);
  --semi-color-primary-active: rgb(var(--semi-blue-7), 1);
  --semi-color-success-active: rgb(var(--semi-green-7), 1);
  --semi-color-warning-active: rgb(var(--semi-orange-7), 1);
  --semi-color-tertiary-hover: rgb(var(--semi-grey-6), 1);
  --semi-color-disabled-border: rgb(var(--semi-grey-1) 1);
  --semi-color-primary-disabled: rgb(var(--semi-blue-2), 1);
  --semi-color-success-disabled: rgb(var(--semi-green-2), 1);
  --semi-color-tertiary-active: rgb(var(--semi-grey-7), 1);
  --semi-color-secondary-hover: rgb(var(--semi-blue-6), 1);
  --semi-color-secondary-active: rgb(var(--semi-blue-7), 1);
  --semi-color-info-light-hover: rgb(var(--semi-blue-5), 0.3);
  --semi-color-info-light-active: rgb(var(--semi-blue-5), 0.4);
  --semi-color-secondary-disabled: rgb(var(--semi-blue-2), 1);
  --semi-color-info-light-default: rgb(var(--semi-blue-5), 0.2);
  --semi-color-danger-light-hover: rgb(var(--semi-red-5), 0.3);
  --semi-color-danger-light-active: rgb(var(--semi-red-5), 0.4);
  --semi-color-danger-light-default: rgb(var(--semi-red-5), 0.2);
  --semi-color-primary-light-hover: rgb(var(--semi-blue-5), 0.3);
  --semi-color-success-light-hover: rgb(var(--semi-green-5), 0.3);
  --semi-color-warning-light-hover: rgb(var(--semi-orange-5), 0.3);
  --semi-color-primary-light-active: rgb(var(--semi-blue-5), 0.4);
  --semi-color-success-light-active: rgb(var(--semi-green-5), 0.4);
  --semi-color-warning-light-active: rgb(var(--semi-orange-5), 0.4);
  --semi-color-primary-light-default: rgb(var(--semi-blue-5), 0.2);
  --semi-color-success-light-default: rgb(var(--semi-green-5), 0.2);
  --semi-color-tertiary-light-hover: rgb(var(--semi-grey-5), 0.3);
  --semi-color-warning-light-default: rgb(var(--semi-orange-5), 0.2);
  --semi-color-tertiary-light-active: rgb(var(--semi-grey-5), 0.4);
  --semi-color-secondary-light-hover: rgb(var(--semi-blue-5), 0.3);
  --semi-color-tertiary-light-default: rgb(var(--semi-grey-5), 0.2);
  --semi-color-secondary-light-active: rgb(var(--semi-blue-5), 0.4);
  --semi-color-secondary-light-default: rgb(var(--semi-blue-5), 0.2);

  font-family: "General Sans Variable", Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  --semi-shadow-elevated: 0 0 1px 0 rgb(0 0 0 / 30%),
    0 4px 14px 0 rgb(0 0 0 / 10%);
  --semi-shadow-0: none;
  --semi-shadow-1: none;
  --semi-shadow-2: 0 2px 4px 0 rgb(0 0 0 / 14%), 0 0 1px 0 rgb(0 0 0 / 16%);
  --semi-shadow-knob: 0 4px 6px 0 rgb(0 0 0 / 10%), 0 0 1px 0 rgb(0 0 0 / 30%);
  --semi-border-radius-full: 9999px;
  --semi-border-radius-large: 12px;
  --semi-border-radius-small: 4px;
  --semi-border-radius-circle: 50%;
  --semi-border-radius-medium: 6px;
  --semi-border-radius-extra-small: 3px;
}
