$font-form-label-fontSize: 12px !important;
$color-form-label-extra-text-default: var(--semi-color-text-2);
$spacing-form-field-vertical-paddingTop: 4px;
$spacing-form-field-vertical-paddingBottom: 4px;
$color-textarea-border-hover: var(--semi-color-primary);
$color-input-default-bg-focus: var(--semi-color-bg-0);
$color-input-default-bg-hover: var(--semi-color-bg-0);
$color-input-default-bg-default: var(--semi-color-bg-0);
$color-input-danger-border-hover: var(--semi-color-danger);
$color-input-default-border-hover: var(--semi-color-primary);
$color-input-warning-border-hover: var(--semi-color-warning);
$color-input-danger-border-default: var(--semi-color-border);
$color-input-default-border-default: var(--semi-color-border);
$color-input-warning-border-default: var(--semi-color-border);
$width-input-wrapper-border: $border-thickness-control;
$border-thickness-control: 1px;
$border-thickness-control-focus: 2px;
$font-modal-header-fontSize: 14px !important ;
$color-modal-bg: var(--semi-color-bg-0);
$color-modal-footer-bg: rgb(var(--semi-neutral-1) 1);
$color-modal-header-bg: rgb(var(--semi-neutral-1) 1);
$color-modal-footer-border: var(--semi-color-border);
$color-modal-header-border: var(--semi-color-border);
$color-modal-content-border: transparent;
$width-modal-footer-border: 1px;
$width-modal-header-border: 1px;
$radius-modal-content: 4px;
$spacing-modal-body-padding: 20px;
$spacing-modal-footer-marginY: 0;
$spacing-modal-header-marginY: 0;
$spacing-modal-footer-paddingX: 16px;
$spacing-modal-footer-paddingY: 14px;
$spacing-modal-header-paddingX: 16px;
$spacing-modal-header-paddingY: 20px;
$spacing-modal-content-paddingX: 0;
$spacing-modal-content-withicon-marginLeft: 0;
$font-radio-cardRadioGroup-extra-size: $font-size-small;
$color-radio-cardRadioGroup-border-active: var(--semi-color-border);
$color-radio-cardRadioGroup-addon-text-default: var(--semi-color-primary);
$color-radio-cardRadioGroup-extra-text-default: var(--semi-color-primary);
$color-table-border-default: var(--semi-color-border-light);
$spacing-table-th-paddingTop: 16px;
$spacing-table-th-paddingBottom: 16px;
$color-toast-bg-default: var(--semi-color-bg-0);
$color-banner-info-bg-default: var(--semi-color-primary-light-default);
$color-banner-info-border-default: var(--semi-color-primary);
$color-banner-danger-border-default: rgb(var(--semi-red-2) 1);
$color-banner-success-border-default: rgb(var(--semi-green-2) 1);
$color-banner-warning-border-default: rgb(var(--semi-amber-2) 1);
$spacing-banner-paddingX: 20px;
$spacing-banner-paddingY: 20px;
$color-button-light-bg-hover: var(--semi-color-bg-0);
$color-button-light-bg-active: var(--semi-color-primary-light-default);
$color-button-light-bg-default: var(--semi-color-primary-light-default);
$color-button-light-border-hover: var(--semi-color-primary);
$color-button-light-border-active: var(--semi-color-primary);
$color-button-light-border-default: var(--semi-color-border);
$width-button-light-border: 1px;
$color-select-bg-focus: var(--semi-color-bg-0);
$color-select-bg-hover: var(--semi-color-bg-0);
$color-select-bg-default: var(--semi-color-bg-0);
$color-select-border-hover: var(--semi-color-primary);
$color-select-border-default: var(--semi-color-border);
$color-select-option-bg-hover: var(--semi-color-primary-light-default);
$color-select-option-bg-active: var(--semi-color-primary-light-default);
$color-select-default-border-focus: var(--semi-color-primary);
$color-select-default-border-foucs: var(--semi-color-primary);
$color-select-default-border-hover: var(--semi-color-primary);
$width-select-border-focus: 2px;
$width-select-border-hover: 1px;
$width-select-border-active: 2px;
$radius-select-option: 4px;
$spacing-select-option-first-marginTop: 0;
$spacing-select-option-list-paddingTop: 4px;
$spacing-select-option-list-paddingLeft: 4px;
$spacing-select-option-last-marginBottom: 0;
$spacing-select-option-list-paddingRight: 4px;
$spacing-select-option-list-paddingBottom: 4px;
$color-switch-default-bg-default: rgb(var(--semi-red-5) 1);
$color-popover-bg-default: var(--semi-color-bg-0);
$color-tooltip-arrow-icon-default: var(--semi-color-bg-0);
$color-cascader-default-bg-focus: var(--semi-color-bg-0);
$color-cascader-default-bg-hover: var(--semi-color-bg-0);
$color-cascader-default-bg-active: var(--semi-color-bg-0);
$color-cascader-default-bg-default: var(--semi-color-bg-0);
$color-cascader-option-bg-selected: rgb(240 240 240 / 100%);
$color-cascader-default-border-focus: var(--semi-color-primary);
$color-cascader-default-border-hover: var(--semi-color-primary);
$color-cascader-default-border-default: var(--semi-color-border);
$font-checkbox-cardType-extra-size: $font-size-small;
$color-checkbox-cardType-addon-text-default: var(--semi-color-primary);
$color-checkbox-cardType-extra-text-default: var(--semi-color-primary);
$spacing-checkbox-cardType-paddingX: 20px;
$spacing-checkbox-cardType-paddingY: 20px;
$color-dropdown-bg-default: var(--semi-color-bg-4);
$color-progress-default-bg: rgb(var(--semi-neutral-6) 1);
$font-tagInput-tag-text-fontWeight: $font-weight-bold;
$color-tagInput-border-focus: var(--semi-color-primary);
$color-tagInput-border-hover: var(--semi-color-primary);
$color-tagInput-border-default: var(--semi-color-border);
$color-tagInput-danger-bg-focus: var(--semi-color-bg-0);
$color-tagInput-danger-bg-hover: var(--semi-color-bg-0);
$color-tagInput-tag-text-default: var(--semi-color-link) !important;
$color-tagInput-default-bg-focus: var(--semi-color-bg-0);
$color-tagInput-default-bg-hover: var(--semi-color-bg-0);
$color-tagInput-warning-bg-hover: var(--semi-color-bg-0);
$color-tagInput-danger-bg-default: var(--semi-color-bg-0);
$color-tagInput-tag-border-default: rgb(var(--semi-brand-2) 1);
$color-tagInput-default-bg-default: var(--semi-color-bg-0);
$color-tagInput-warning-bg-default: var(--semi-color-bg-0);
$color-tagInput-danger-border-hover: var(--semi-color-danger-hover);
$color-tagInput-warning-border-hover: var(--semi-color-warning-hover);
$color-tagInput-danger-border-default: var(--semi-color-danger);
$color-tagInput-tag-background-default: rgb(var(--semi-brand-1) 1);
$color-tagInput-default-border-default: var(--semi-color-border);
$color-tagInput-warning-border-default: var(--semi-color-warning);
$width-tagInput-border-focus: 2px;
$width-tagInput-border-hover: 1px;
$width-tagInput-border-default: 1px;
$font-navigation-item-fontWeight: $font-weight-regular;
$color-datepicker-range-input-border: var(--semi-color-border);
$color-datepicker-range-input-bg-hover: var(--semi-color-white);
$color-datepicker-range-input-bg-default: var(--semi-color-bg-0);
$color-datepicker-range-input-border-default: var(--semi-color-border);
$color-navigation-itemL1-selected-text-hover: var(--semi-color-primary);
$color-navigation-itemL1-selected-text-active: var(--semi-color-primary);
$color-navigation-itemL1-selected-text-default: var(--semi-color-primary);
$width-datepicker-range-input-border: 1px;
$width-datepicker-range-input-border-active: 2px;
$spacing-datepicker-range-input-height: 32px !important ;
$spacing-datepicker-range-input-paddingX: 0;
$spacing-navigation-paddingX: 0;
$spacing-navigation-collapsed-paddingX: 0;
$color-pagination-item-bg-selected: var(--semi-color-white);
$color-treeSelect-default-bg-focus: var(--semi-color-bg-0);
$color-treeSelect-default-bg-hover: var(--semi-color-bg-0);
$color-treeSelect-default-bg-active: var(--semi-color-bg-0);
$color-treeSelect-default-bg-default: var(--semi-color-bg-0);
$color-treeSelect-default-border-hover: var(--semi-color-primary);
$color-treeSelect-default-border-default: var(--semi-color-border);
$width-treeSelect-hover-border: 1px;
$width-treeSelect-hover-default: 1px;
$color-descriptions-key-text-default: var(--semi-color-text-1);
$spacing-descriptions-item-medium-paddingRight: 20px;
